.work-area
{
    background-color: black;
}

#top-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid gray;
}

#top-bar *
{
    display: inline;
}

#top-bar input
{
    color: white;
    background-color: black;
    font-size: 25px;
    text-align: center;
    border: none;
    padding: 5px;
    width: 70%;
}

#top-bar input:focus
{
    outline: none;
}

#tier-list
{
    padding: 20px 20px 14px 20px;
    text-align: center;
    text-transform: uppercase;
}

.tier-row
{
    display: flex;
    align-items: center;
    height: 9vh;
    margin-bottom: 2px;
}

.tier-row *
{
    height: 9vh;
}

.tier-col-l
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    width: 15%;
}

.tier-col-l div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier-col-l i:hover
{
    cursor: pointer;
}

.tier-col-m
{
    width: 80%;
    background-color: rgb(39, 39, 39);
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;
}

.tier-col-r
{
    transition: .5s ease;

    width: 5%;
    background-color: lightgray;
}

.tier-col-r:hover
{
    cursor: pointer;
    background-color: rgb(184, 53, 53);
    color: rgb(189, 189, 189);
}

.tier-col-r div i
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.up 
{
    position: absolute;
    top: 1vh;
    left: 8px;
}

.down
{
    position: absolute;
    top: 6vh;
    left: 8px;
}

.more
{
    position: absolute;
    top: 8px;
    right: 8px;
}

#btn-area
{
    margin-top: 15px;
}

#drag-and-drop
{
    border: 4px dashed lightgray;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50px;
    background-color: #6c757d;
}

.objects-choice
{
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.objects-choice h2
{
    font-size: 25px;
    color: lightgray;
}


.objects-choice p
{
    color: white;
    font-size: 20px;
    display: inline;
}

.objects-choice label
{
    color: white;
    font-size: 30px;
}

#image-controls
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
}


#modal-add select
{
    width: 100%;
    height: 30px;
}

#image-choice
{
    display: none;
}

#image-choice input
{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

#color-choice input, #text-color-choice input
{
    width: 25%;
    height: 40px;
}

#color-choice, #text-color-choice
{
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#object-text
{
    width: 100%;
    height: 37px;
    text-align: center;
}

.object-wrapper
{
    margin: auto;
}

#sample-object
{
    width: 200px;
    height: 200px;
    background-color: #4287f5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

#modal-add .btn-group label
{
    width: 50%;
}

#modal-share h3 i
{
    color: gray;
    font-size: 16px;
}

#modal-share h2
{
    font-size: 26px;
}

#modal-share h3
{
    margin-top: 25px;
    font-size: 20px;
    text-align: left;
}

#modal-share .social
{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-col
{
    text-align: center;
}

.second-col div
{
    text-align: center;
    margin-bottom: 20%;
    padding-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.second-col button
{
    width: 60%;
    margin: 15px;
}



#full-width
{
    padding-bottom: 20px;
    /* background-color: black; */
}

.work-area, .objects-choice
{
    max-width: 1500px;
    margin: auto;
    background-color: black;
}

#row-name
{
    width: 70%;
    float: right;
    text-align: center;
}

#row-color
{
    width: 70%;
    float: right;
}
