body
{
    margin: 0;
    min-height: 720px;
    overflow-x: hidden;
}

html, body, #wrapper
{
    min-height: 100vh;
    height: 100%;
}

#wrapper
{
    text-align: center;
    margin: 0 auto;
}
#input-box
{
    font-size: 1rem;
    background-color: #c8dadf;
    position: relative;
    padding: 20px;
    margin: auto;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    height: 390px;
    min-height: 390px;
}

#wrapper h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#wrapper h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#preview
{
    width: 250px;
    height: 150px;
    margin: auto;
}

#output
{
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content
{
    width: 100%; 
    height: 50%;
    float: left;
    padding: 20px;
}

#left-panel
{
    width: 300px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
}

.box
{
    margin: auto;
    margin-left: 300px;
}

.controls
{
    min-height: 240px;
    height: calc(100% - 490px);
    background-color: rgb(190, 190, 190);
    padding: 20px;
}
.controls button
{
    margin-bottom: 10px;
}


.b1
{
    width: 200px;
}

.pr
{
    background-color: #c8dadf;
    border: none;
    padding: 5px;
    border-radius: 3px;
    transition: background 0.5s ease-out;
}

.pr:hover
{
    background: rgb(82, 124, 124);
    border: 2px gray;
    cursor: pointer;

}

.b2
{
    width: 90px;
}

#imgToAscii
{
    line-height: 8px;
    width: 100%; 
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    height: 96.5vh;
}

#methodChoice
{
    height: 100px;
    background-color: rgb(82, 124, 124);
    padding: 20px;
    padding-bottom: 40px;
    color: white;
}

.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    padding-left: 320px;
    padding-right: 20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    min-height: 680px;
    overflow:auto;
   
}
  
  /* Modal Content */
.modal-content
{
    background-color: #fefefe;
    text-align: left;
    padding: 20px;
    border: 1px solid #888;
    height: 98vh;
    min-height: 680px;
    min-width: 700px;
    overflow: auto;
}
  
  /* The Close Button */
.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img
{
    width: 250px;
    position: absolute;
}

.modal-content p
{
    margin-left: 280px;
    padding-top: 40px;
    font-size: 20px;
    float: left;
}

#second
{
    top: 370px;
    position: absolute;
}

#third
{
    top: 520px;
    position: absolute;
}

#credit
{
    font-size: 16px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    width: 80%;
}

#myBtn
{
    background-color: #ccb74d;
    border: none;
    padding: 5px;
    border-radius: 3px;
    transition: background 0.5s ease-out;
    width: 200px;
}

#myBtn:hover
{
    background: rgb(211, 138, 43);
    border: 2px gray;
    cursor: pointer;
}


#zoomDiv 
{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


#zoomDiv input
{
    width: 75%;
    float: left;
    margin-top: 5px;
}

#zoomDiv p
{
    width: 20%;
    float: right;
}

#bkgColor
{
    float: right;
    width: 50px;
    height: 39px;
    padding: 3px;
    margin: 0;
    background-color: #e9ecef;
    position: absolute;
    top: 510px;
    left: 230px;
}

.label
{
    float: left;
    width: 140px;
    color: rgb(70, 70, 70);
}

#colorInput
{
    background-color: white;
    padding: 7px;
    border-radius: 3px;
    border: rgb(0, 0, 0) 3px;
}